{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">

  <title>Login | TFMS</title>

  <!-- Bootstrap CSS -->
  <link href="{% static 'nice-admin/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- bootstrap theme -->
  <link href="{% static 'nice-admin/css/bootstrap-theme.css' %}" rel="stylesheet">
  <!--external css-->
  <!-- font icon -->
  <link href="{% static 'nice-admin/css/elegant-icons-style.css' %}" rel="stylesheet" />
  <link href="{% static 'nice-admin/css/font-awesome.min.css' %}" rel="stylesheet" />
  <!-- full calendar css-->
  <link href="{% static 'nice-admin/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css' %}" rel="stylesheet" />
  <link href="{% static 'nice-admin/assets/fullcalendar/fullcalendar/fullcalendar.css' %}" rel="stylesheet" />
  <!-- easy pie chart-->
  <link href="{% static 'nice-admin/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css' %}" rel="stylesheet" type="text/css" media="screen" />
  <!-- owl carousel -->
  <link rel="stylesheet" href="{% static 'nice-admin/css/owl.carousel.css' %}" type="text/css">
  <link href="{% static 'nice-admin/css/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet">
  <!-- Custom styles -->
  <link rel="stylesheet" href="{% static 'nice-admin/css/fullcalendar.css' %}">
  <link href="{% static 'nice-admin/css/widgets.css' %}" rel="stylesheet">
  <link href="{% static 'nice-admin/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'nice-admin/css/style-responsive.css' %}" rel="stylesheet" />
  <link href="{% static 'nice-admin/css/xcharts.min.css' %}" rel=" stylesheet">
  <link href="{% static 'nice-admin/css/jquery-ui-1.10.4.min.css' %}" rel="stylesheet">

</head>

<body class="login-img3-body">

  <div class="container">

    <form class="login-form" action="" method="post">
      <div class="login-wrap">
        <p class="login-img"><i class="icon_lock_alt"></i></p>
        {% csrf_token %}
        <div class="input-group">
          <span class="input-group-addon"><i class="icon_profile"></i></span>
          <input type="text" class="form-control" name="username" id="username" placeholder="Username" autofocus>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="icon_key_alt"></i></span>
          <input type="password" name="password" id="password" class="form-control" placeholder="Password">
        </div>
        <label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
                <span class="pull-right"> <a href="#"> Forgot Password?</a></span>
            </label>
        <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
        <a href="{% url 'register' %}" class="btn btn-secondary btn-lg btn-block text-light">Register</a>
      </div>
    </form>
    <div class="text-right">
      <div class="credits">
          Designed by <a href="#">Celine Obiero</a>
        </div>
    </div>
  </div>

</body>

</html>
